.carousel{
     height:700px;
}

.categories{
     position:center;
     margin-left:700px;
     margin-right:auto;
     padding:5px;
     width:800px;
     padding-top:5px;
}

div{
    margin-top:3px;
}

.card-title{
    margin-inline-end:auto;
}

.form-group{
   margin-left:300px;
}

.table{
   margin-left:300px;
   background-color:#40E0D0;
}

.form-text{
   margin-left:228px;
}

.footer_img{
    width:350px;
    height: 200px;
}

.contact{
    text-align:center;
}

.footer_navigation{
    text-align:center;
}


